{% extends "base.html" %}
{% block title%}
	Про нас
{% endblock %}

{% block body %}
				
<div class="container">
	<dir class="row">
		<dir class="col-lg-3 col-xs-12 col-md-6 ">
			<div class="thumbnail">
					<img src="http://cs623316.vk.me/v623316175/271f9/K63M3_Ii6oY.jpg" alt="" class="img"><p></p>
										<div class="caption">
										<h3>Мартинюк Вікторія</h3>
										<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

										<p></p>
										</div>
					<p></p>
					
				</div>
		</dir>		
		<dir class="col-lg-3 col-xs-12 col-md-6">
			<div class="thumbnail">
					<img src="http://cs622316.vk.me/v622316204/1b4f9/mCKXHkoOPTQ.jpg" class="img" alt=""><p></p>
										<div class="caption">
										<h3>Ковачльук Олександр</h3>
										<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

										<p></p>
										</div>
					<p></p>
					
				</div>
		</dir>
		<dir class="col-lg-3 col-xs-12 col-md-6">
			<div class="thumbnail">
					<img src="http://cs623616.vk.me/v623616966/3528/EgyA2RC_Eb0.jpg" class="img" alt=""><p></p>
										<div class="caption">
										<h3>Кирийчук Ігор</h3>
										<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

										<p></p>
										</div>
					<p></p>
					
				</div>
		</dir>
		<dir class="col-lg-3 col-xs-12 col-md-6">
			<div class="thumbnail">
					<img src="http://cs621617.vk.me/v621617263/1cf61/jebQ8pi4psM.jpg" class="img" alt=""><p></p>
										<div class="caption">
										<h3>Мамчич Оксана</h3>
										<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

										<p></p>
										</div>
					<p></p>
					
				</div>
		</dir>
		</div>
</div>
	{% endblock %}