		<div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
			<div class="row" >
				<div class="col-lg-4">
					  <div class="panel panel-default ">
					    <div class="panel-body">
						 Список курсів 
					    </div>
					    <div class="panel-footer">
					    <ul class="list-group" id="list-group">
						    {% for team in sourses %}
							   	 <li class="list-group-item">{{ team[1] }} <a href="?drop_sourse={{team[0]}}" class="list_elm"><span class="glyphicon glyphicon-trash"></span></a></li>
							{% endfor %}
						  </ul><!-- list-group -->
					    </div>
					  </div>
					<form  method="POST" action="/">
					  <input type="text" name="btn_add_src" value='True' style="display:none;visible:hidden;"/>
					  <div class="form-group">
					    <input type="text" name="name"  class="form-control" placeholder="Name">
					  </div>
					  <div class='from-group'>
						  <textarea name="discriptor"  placeholder="Discriptor" class="form-control"></textarea>
					  </div>
					  <br>
					  <button type="submit" class="btn btn-default" >Додати</button>
					</form>

				</div>
				
					<div class="col-lg-4">
					  <div class="panel panel-default ">
					    <div class="panel-body">
						 Список інтервютерів
					    </div>
					    <div class="panel-footer">

					 <ul class="list-group" id="list-group-interview">
					 {% for team in interviewter %}
					    <li class="list-group-item"> <span style="display:none;">{{team[0]}}</span> {{ team[1]}} => 
					    {% for obj in team[2] %}
					    	<span style='font-size:10pt; color:grey;'> {{ obj[1] }}</span>
					    {% endfor%}
					    
					    	<!-- <input type="checkbox" class="list_elm" /> -->
					    	<select class="form-control">
					    	{% for obj in sourses %}
					    		{% if obj[0] == 1 %}
					    		<option>--</option>
					    		{% endif%}
					    		<option> {{ obj[1]}} </option>
					    	{% endfor%}

					    	</select>
					    </li>
					  {% endfor %}     

					  </ul><!-- list-group -->
					  
					    </div>
					  </div>
					  <button type="submit" class="btn btn-default" id="btn-save-interview" >Зберегти зміни</button>
				</div>
				<div class="col-lg-4">
					  <div class="panel panel-default ">
					    <div class="panel-body">
						 Список корисувачів 
					    </div>
					    <div class="panel-footer">

					  <ul class="list-group" id="list-group">
					 		{% for team in user %} 
							   	<li class="list-group-item">{{ team[1] }} {{ team[2]}}</li>
						    {% endfor %}

					  </ul><!-- list-group -->
					  
					    </div>
					  </div>
				</div>
			</div>
        </div><!--/span-->