{% extends 'base.html' %}
{% block title %} Interview {% endblock %}

	{% block body %}
	<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Ласкаво просимо!</h1>
            <p>Даний сервіс надає допомогу клієнтам ( користувачам ) мати змогу надати інформацію про ... </p>
          </div>
          <div class="row">

          	<div class="col-xs-12">          		
				<div class="panel panel-default ">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Список користувачів</div>
				  <!-- Table -->
				  <table class="table .table-list-user">
					<thead>
						<tr><td>№</td><td>Ім’я</td><td>Прізвище</td><td>Дата народження</td><td>Статус</td> 
						{% if session['admin'] == True %}
							<td>Видалити</td> 
						{% else %}
						 {% endif %}
						  </tr>
					</thead>
				  	<tbody>
					{% for team in data %}

				    <tr><td><a href="/profile/{{team[0]}}" >{{ team[0] }}</a></td><td><a href="/profile/{{team[0]}}" >{{ team[1] }}</a></td><td><a href="/profile/{{team[0]}}" >{{ team[2] }}</a></td> <!-- block start -->
				    	<td><a href="/profile/{{team[0]}}" >{{ team[3] }}</a></td>
				    	{% if team[3] == 'true' %}
				    	<td>
				    		<span style="color:green;" class="glyphicon glyphicon-ok-circle"></span>
				  		</td>
				  		{% else %}
				  		<td>
				    		<span style="color:red;" class="glyphicon glyphicon-remove-circle"></span>
				  		</td>
				  		{% endif %}
				  		{% if session['admin'] == True %}
				    	<td>
					   		<a href="?drop_id={{team[0]}}"><span class='glyphicon glyphicon-trash'></span></a>
						</td>
						{% else %}
						{% endif %}
					</tr> {% endfor %} <!-- endblock -->
				    
				  	</tbody>
				  </table>
				</div>
				{% if session['admin'] == True %}
					<a href="?drop_all=True"> Видалити всіх користувачів </a>
				{% endif %}
          	</div><!-- list person  -->


          </div><!--/row-->
			<ul class="pagination">
				  <li><a href="#">&laquo;</a></li>
				  <li><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
			</ul> <!-- pagination -->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

			<div class="well">
				{% if session['username'] %}
					<h3> Користувач <a href=#>{{ session['username'] }}</a>!</h3>
					<a class="btn btn-primary" href="?exit=True">Вихід</a>

				{% else %}
				<form role="form">
					<input type="text" value="ok" name="button_auth" style="display:none;">
					<div class="input-group form-group">
						  <label for="inputName" class="col-sm-2 control-label" style="display:none"> Логін </label> 
						 <input type="text" name="username" class="form-control" id="inputName"  placeholder="Login">	
					</div>
					<br>

					<div class="input-group form-group">
  						<label for="inputName" class="col-sm-2 control-label "  style="display:none"> Пароль </label> 
						 <input type="password" name="password" class="form-control" id="inputName" placeholder="Password">	
					</div>
					<br>
					<div class="input-group form-group">
						 <button type="submit" class="btn btn-success">Авторизація</button>					
					</div>
				</form><!-- ./form -->
				{% endif %}
			</div>
			<a href="/registration" id='registration'>Рерєстрація</a>
        </div><!--/span-->
      </div><!--/row-->
	    <hr>
	    <footer>
	        <p>&copy; Company 2015</p>
	    </footer>

    </div><!--/.container-->

	{% endblock %}
