{% extends 'base.html' %}
{% block title %} index title {% endblock %}

	{% block body %}
		{%  if session %}
		<div class="auth_user">
			<h2>hello {{ session['username']}}</h2>
		</div>
		{% else %}
		<div class="auth_user">
			<h2>Sing in</h2>
			<form action="/" method="post">
				<input type="text" name="username" placeholder="name">	
				<input type="password" name="password" placeholder="password">	
				<input type="submit" name="button">
			</form>
			<a href="/registration"> sign up</a>
		</div>
		{% endif %}
		<div class="list_user">
		<h2>List Person!</h2>
			<ul>
				{% for iteam in data %}
				<li>{{ iteam[1] }} {{ iteam[2]}} <span class="span_right_elm"><a href="?drop= {{ iteam[0] }}">x</a></span></li>
				{% endfor %}
			</ul>
			<form action="/" method="POST">
				<input type="text" name="name_new_person" placeholder="name" >
				<input type="text" name="surname_new_person" placeholder="surname" >
				<input type="submit" name="button_person" value="add new person">
			</form>
		</div>
	{% endblock %}
