{% extends "base.html" %}
{%  block title %} Реєстрація {% endblock %}
{% block body %}
      <div class="container">
            <dir class="row" >
                  <div class="col-sm-3"></div>

                  <div class="col-sm-6">
                     <h1 class="center">Форма реєстрації</h1>
                        <form class="form-horizontal" role="form" >
                          <input type="text" value="ok" name="button_reg" style="display:none;">
                          <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label"> Ім’я </label> 
                            <div class="col-sm-10">
                              <input type="text" name="name" class="form-control" id="inputName" placeholder="І’мя">
                            </div>
                          </div><!-- ./form-group --> 
                                                   
                          <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label"> Прізвище </label> 
                            <div class="col-sm-10">
                              <input type="text" name="surname" class="form-control" id="inputName" placeholder="Прізвище">
                            </div>
                          </div><!-- ./form-group -->  
                         

                          <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label"> Е-mail </label> 
                            <div class="col-sm-10">
                              <input type="email" name="email" class="form-control" id="inputName" placeholder="E-mail">
                            </div>
                          </div><!-- ./form-group -->

                          <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label"> Логін </label> 
                            <div class="col-sm-10">
                              <input type="text" name="login" class="form-control" id="inputName" placeholder="Логін">
                            </div>
                          </div><!-- ./form-group -->

                           <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label"> Пароль </label> 
                            <div class="col-sm-10">
                              <input type="password" name="password" class="form-control" id="inputName" placeholder="Пароль">
                            </div>
                          </div><!-- ./form-group -->

                           <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Підтвердіть пароль</label> 
                            <div class="col-sm-10">
                              <input type="password" name="password_repeat" class="form-control" id="inputName" placeholder="Підтвердіть пароль">
                            </div>
                          </div><!-- ./form-group -->
                            <div class="form-group">
                            <div class="col-sm-10">
                              <button type="submit" class="btn btn-success">Відправити</button>
                              <button type="reset" class="btn btn-success">Очистити</button>
                            </div>
                          </div><!-- ./form-group -->                            

                        </form>
                        <div id="myModalBox" class="modal fade">
                      <div class="modal-dialog">
                      <div class="modal-content">

                      <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title">Системне повідомлення</h4>
                      </div>

                      <div class="modal-body">
                      <p>Дані відправлені на сервер</p>
                      </div>

                      <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                      <button type="button" class="btn btn-primary finish"  >Перейти на головну сторінку</button>
                      </div>
                      </div>
                      </div>
                      </div>
                  <div class="col-sm-3">


                  </div>    

            </dir>
      </div>
 {% endblock %}
