<div class="col-ln-6 col-xs-6">
					<div class="panel panel-info" id="list_quation">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Список запитань</div>
					  <!-- List group -->
					  <ul class="list-group" id="list-group">
					  {% for obj in question %}
					    <li class="list-group-item">
						<div class="input-group">
						      <span type="text" class="form-control">{{ obj[1] }}<span style="float:right;">{{ obj[2] }} </span></span>

						      <span class="input-group-addon"> 
						        <input type="checkbox">
						      </span>
						    </div><!-- /input-group -->
					    </li>
					    {% endfor %}
					  </ul>
					</div>
					  <button type="button" class="btn btn-primary" id="add_quation">Додати</button>

				</div>				
				<div class="col-ln-6 col-xs-6">
					<div class="panel panel-success">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Вибрано</div>

					  <!-- List group -->
					  <ul class="list-group" id="list_select_quation">

					  </ul>
					</div>
					<button type="button" class="btn btn-success" id="loading-example-btn" data-loading-text="Завантаження..." data-toggle="modal" data-target="#myModal">Зберегти</button>
					<button type="button" class="btn btn-success" id="clear_btn">Очистити</button>

				</div>
				<div class="modal fade" id="Modal">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title">Системне повідомлення</h4>
				      </div>
				      <div class="modal-body">
				        <p>Дані відправленні на сервер</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default"  data-dismiss="modal">Закрыть</button>
				        <button type="button" id="reset" class="btn btn-primary">Зберегти</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

			</div>