		<div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Ласкаво просимо!</h1>
            <p>Даний сервіс надає допомогу клієнтам ( користувачам ) мати змогу надати інформацію про ... </p>
          </div>
			<div class="row" >
					

				{% for team in data %}
					<dir class="col-lg-3 col-xs-12 col-md-6">
						<div class="thumbnail">
									<div class="caption">
									<h3>{{team[1]}}</h3>
									<p>{{team[4]}}</p>
									
									<p></p>

									{% if session['username'] in team[3]   %}
										{% if  user[session['id']-1][7] == 'true' %}
										<p><a href="/profile/{{session['id']}}" class="btn btn-warning">  Перегляд </a></p>
										{%else%}
										<p><a href="#" class="btn btn-default disabled">Запитання не додані</a></p>
										{%endif%}
									{% elif session['username'] and session['type'] == 'user' %}
											<p><a href="?subscribe={{team[0]}}" class="btn btn-success" role="button">Підписатись на курс</a> </p>

									{% endif %}

									</div>
								<p></p>
								
							</div>
					</dir><!--  col-lg-3 -->				
				{% endfor %}
				
			</div>
        </div><!--/span-->